<section class="addpizza"  style="background-color:beige;" >
    <div>
        <img class="mx-auto h-12 w-auto" src="/img/pizzalogo.png " alt="Your Company">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Add a new Pizza</h2>
      </div>
    <div class=" ">
        <div class="container">
          <form id="addpizzaform" class="mt-8 " action="/admin/addpizzas" method="POST" enctype="multipart/form-data" >
            <div class="conatiner mx-auto flex items-center  ">
                <div class=" ml-64 rounded-md shadow-sm ">
                    <div>
                      <label for="pizzaname" class="sr-only">Pizza name</label>
                      <input id="pizzaname" style="height:50px;width:500px;" id="pizzaname" name="pizzaname" autocomplete="email" required class="appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Pizza Nmae">
                    </div>
                    <div>
                      <label for="pizzasize" class="sr-only">Pizza size</label>
                      <input id="pizzasize" style="height:50px;width:500px;" id="pizzasize" name="pizzasize" autocomplete="current-password" required class="appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Size">
                    </div>
                    <div>
                        <label for="pizzaprice" class="sr-only">Pizza price</label>
                        <input id="pizzaprice" style="height:50px;width:500px;" style="height: 60; width: 600;" id="pizzaprice" name="pizzaprice" autocomplete="current-password" required class=" appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Price">
                    </div>
                </div>
                <div class="flex justify-center  mr-56 ml-8">
                    <div class=" rounded-lg shadow-xl bg-gray-50">
                        <div class="m-4">
                            <label class="inline-block mb-2 text-gray-500">File Upload</label>
                            <div class="flex items-center justify-center w-full">
                                <label
                                    class="flex flex-col w-full h-32 border-4 border-blue-200 border-dashed hover:bg-gray-100 hover:border-gray-300">
                                    <div class="flex flex-col items-center justify-center pt-7">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-400 group-hover:text-gray-600"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                        </svg>
                                        <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                                            Attach a file</p>
                                    </div>
                                    <input id="image" name="image" type="file"  />
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div> 
                
            </div>
            <div class="container flex items-center justify-center mt-8 ml-16">
                <button style="width: 600;" type="submit" class="group relative flex w-64 justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <!-- Heroicon name: mini/lock-closed -->
                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                    </svg>
                  </span>
                  Add Pizza   
                </button>
              </div>
          </form>
        </div>
    </div>
   
</section>