//colors

$white : #ffffff;
$dominos_red : #e31837;
$dominos_blue : #006491;

$giants_orange : #f46312;
$persian_orange : #d89451;
$tartan_red : #ae2926;
$copper_penny : #b47464;
$gray : #c1bdb5;
$jacko_bran : #444424;

$dark : #232323;
$pure : #fff;
$secondary : #F8F8F8;
$grayyt : #ccc;

//transistions
$smooth : all .3s ease-in-out;